<h3>Application Form</h3>
<form action="/job/{{job['id']}}/apply" method = "post">
  
  <div class="mb-2">
    <lable>Name</lable><br>
    <input type="text" required name="full_name" placeholder="Yash Umaria">
  </div>

  <div class="mb-2">
    <lable>Email</lable><br>
    <input type="email" required name="email" placeholder="yash@umaria.com">
  </div>

  <div class="mb-2">
    <lable>Linkedin</lable><br>
    <input type="url" name="linkedin_url" placeholder="https://linked.com/in/yashumaria">
  </div>

  <div class="mb-2">
    <lable>Education</lable><br>
    <textarea name="education"></textarea>
  </div>

  <div class="mb-2">
    <lable>Work Experience</lable><br>
    <textarea name="work_experience"></textarea>
  </div>

  <div class="mb-2">
    <lable>Resume URL</lable><br>
    <input type="url" name="resume_url">
  </div>

  <input type="submit">

</form>